<div class="container">
<table>
  <tr class="row" ngClass="tab-content" *ngFor="let match of matches" >
    <td width="22%">
      <h5 ngClass="matchname">{{ match.subtitle }}</h5>
      <p>{{ match.venue.name }}, {{ match.venue.location }}
        <br>
        {{ match.date_start }}
      </p>
    </td>
    <td width="20%">
      {{ match.teama.name }}
    </td>
    <td width="10%">
      <img class="teamlogo" src="{{ match.teamb.logo_url }}">
    </td>
    <td width="5%">
      VS
    </td>
    <td width="10%">
      <img ngClass="teamlogo" src="{{ match.teamb.logo_url }}" >
    </td>
    <td width="20%">
      {{ match.teamb.name }}
    </td>
    <td width="13%">
      {{ dateformat(match.date_start) }}
    </td>
  </tr>
</table>
</div>
