/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
/* @import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); */
body{
  font-family: 'Barlow Semi Condensed', sans-serif;
}
table{
  width: 100%;
}
.tabs{
  margin-top: -3px;
}
.tab-content{
    padding: 15px 10px 15px 10px;
    height: 140px;
}
.tbBorder{
    border-bottom: 1px solid #e0e0e0;
}
.tab-content > td {
    text-align: center;
    padding: 10px 0 10px 0;
}
.matchname{
    margin-left: 16px;
    font-weight: 700;
    font-size: 12px;
}
.status{
    font-size: 10pt;
    background-color: #006442;
    font-weight: 700;
    color: #fff;
    padding: 6px 10px 8px 10px ;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    margin: 0 10px 0 10px;
}
.status::before{
    content: "";
    position: absolute;
    left: -10px;
    top: -5px;
    width: 40px;
    height: 40px;
    background: #006442;
    border-radius: 50%;
    z-index: -1;
}
.liveStatus{
    margin-top: 10px;
    background-color: #F26B23 !important;
}
.liveStatus::before{
    background-color: #F26B23  !important;
    top: -5px !important;
}
.venue{
    font-size: 13px;
    padding: 5px 40px 0 40px;
}
.team{
    font-weight: 700;
    padding: 0 10px 0 10px;
}
.teamlogo{
    max-width: 70px;
    max-height: 70px;
}
.vs{
    font-weight: 700;
}
.result-team-logo{
    max-width: 80px;
    max-height: 80px;
}
.date{
    font-weight: 700;
    font-size: 15px;
}
.live-date{
    font-weight: 700;
    font-size: 15px;
    color: #F26B23
}
.Live{
    color: #F26B23;
}
.Upcoming{
    color: #006442;
}
.arrow{
    color: #1892ed;
}
.hr {
    border-bottom: 2px solid #f2f1f1;
}
.contents{
  border-radius: 20px;
  padding: 10px 0 10px 0;
  background-color: white;
}
